<ul class="shop-element">
  <li class="side-wrap toggle-wrap">
    <button class="navbar-toggle" type="button">
      <span class="menu-icon">
        <i class="feather-menu"></i>
      </span>
    </button>
  </li>
  <li class="side-wrap fsa-trigger-wrap">
    <button id="fsaOpenBtn" class="fsa-trigger-btn" type="button"
            aria-label="Find Your Face Shape" title="Find Your Face Shape">
      <span class="icon"><i class="ri-scan-2-line"></i></span>
    </button>
  </li>
  {%- if settings.search_enable -%}
  <li class="side-wrap search-wrap">
    <a class="search-btn header-icon" data-bs-toggle="modal" href="#seachmodal">
      <span class="icon"><i class="feather-search"></i></span>
    </a>
  </li>
  {%- endif -%}
  <li class="side-wrap user-wrap">
    {% if customer %}
    <a class="header-icon" href="{{ routes.account_url }}">
      <span class="icon"><i class="feather-user-check"></i></span>
    </a>
    {% else %}
    <a class="header-icon" href="{{ routes.account_login_url }}">
      <span class="icon"><i class="feather-user"></i></span>
    </a>
    {% endif %}
  </li>
  {%- if settings.wishlist_enable -%}
  <li class="side-wrap wishlist-wrap">
    <a class="header-icon" href="/pages/wishlist" title="Wishlist">
      <span class="icon"><i class="feather-heart"></i></span>
      <span class="wishlist-counter count">{{ wishlist.count }}</span>
    </a>
  </li>
  {%- endif -%}
  <li class="side-wrap cart-wrap">
    <div class="shopping-cart">
      <a class="cart-count header-icon header-icon--cart-pill" href="javascript:void(0);">
        <span class="icon"><i class="feather-shopping-bag"></i></span>
        <span id="cart-total" class="bigcounter count">{{ cart.item_count }}</span>
      </a>
    </div>
  </li>
</ul>
{% style %}
button.navbar-toggle,
a.header-icon {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
}
button.navbar-toggle:hover,
a.header-icon:hover {
  color: var(--font-color-primary);
}

/* Cart pill button */
a.header-icon--cart-pill {
  background: #113071;
  color: #fff !important;
  border-radius: 999px;
  padding: 8px 16px;
  gap: 7px;
  font-weight: 700;
  font-size: 14px;
  transition: background 0.2s ease, transform 0.15s ease;
}
a.header-icon--cart-pill:hover {
  background: #0d2458 !important;
  color: #fff !important;
  transform: translateY(-1px);
}
a.header-icon--cart-pill:hover span,
a.header-icon--cart-pill:hover i {
  color: #fff !important;
}
a.header-icon--cart-pill .count::before,
a.header-icon--cart-pill .count::after { display: none; }
a.header-icon--cart-pill .count {
  margin-left: 2px;
  font-weight: 700;
  color: #fff;
}
button.navbar-toggle span.menu-icon,
a.header-icon span.icon {
  font-size: var(--font-size-body);
  display: flex;
  line-height: 0;
}
a.header-icon span.count {
  position: relative;
  {% if settings.enable_rtl %}
  margin-right: 5px;
  {% else %}
  margin-left: 5px;
  {% endif %}
  font-weight: var(--font-custom-weight-header);
}
a.header-icon span.count::before {
  content: '(';
  font-weight: var(--font-custom-weight-header);
}
a.header-icon span.count::after {
  content: ')';
  font-weight: var(--font-custom-weight-header);
}
@media (max-width: 600px) {
  a.header-icon span.count::before,
  a.header-icon span.count::after {
    display: none;
  }
  .wishlist-wrap a.header-icon span.icon,
  .cart-wrap a.header-icon span.icon {
    padding-right: 7px;
  }
  a.header-icon span.count {
    background-color: var(--font-color-secondary);
    color: #FFFFFF;
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    {% if settings.enable_rtl %}
    margin-right: 0px;
    {% else %}
    margin-left: 0px;
    {% endif %}
    position: absolute;
    top: -7px;
    right: 0;
    border-radius: 100%;
  }
}
{% endstyle %}